In [3]:
height_cm = input('Height converter: enter your height in cm: ')
print('Your height in feet is:', height_cm / 30.48 )

Height converter: enter your height in cm: 12

TypeError: unsupported operand type(s) for /: 'str' and 'float'

In [ ]:
height_cm = input('Height converter: enter your height in cm: ')
float_height_cm = float(height_cm) # Need to make the value float instead of string. 
print('Your height in feet is:', float_height_cm / 30.48 )

In [4]:
year_born = int(input('What year were you born?'))
print('In 2100, you will be', 2100 - year_born, 'years old, provided you live this long!') 
#2100 is an integer, so needs to change it to integer

What year were you born?2000
In 2100, you will be 100 years old, provided you live this long!

In [6]:
temp_c = input('Enter the temperature today in Celsius degrees: ')
temp_f = float(temp_c) * 1.8 + 32
temp_statement = str(temp_c) + ' degrees Celsius equals ' + str(temp_f) + ' degrees Fahrenheit.'
print(temp_statement)

Enter the temperature today in Celsius degrees: 27
27 degrees Celsius equals 80.6 degrees Fahrenheit.

In [7]:
float()
int()
str()

''

In [ ]:
#Salary calculator

Ask the user for the number of hours they worked last month and their hourly rate (both numbers should be floats). 

Use the following prompts:

How many hours did you work last month? << add a space at the end of this prompt
What is your hourly rate? << add a space at the end of this prompt

Then, show the following message with the calculated salary:

Last month, you earned {hours * hourly_rate} dollars

The salary should be shown as a float number. For example, for input 30 hours and hourly rate 10.5, show:

Last month, you earned 315.0 dollars

Watch out for typos: you must show the output in this particular format!

In [13]:
Hours_month = input('How many hours did you work last month?')
Hours_month = float(Hours_month)

Hourly_rate = input('What is your hourly rate?')
Hourly_rate = float(Hourly_rate)

print('Last month, you earned', Hours_month*Hourly_rate, 'dollars')

# or this
hours = float(input('How many hours did you work last month? '))
rate = float(input('What is your hourly rate? '))
     
print('Last month, you earned', hours * rate ,'dollars')

How many hours did you work last month?10.5
What is your hourly rate?8.2
Last month, you earned 86.1 dollars

# Operators

In [1]:
print(0.1)

0.1

In [2]:
print(0.1+0.1+0.1)

0.30000000000000004

In [3]:
2 ** 2 ** 3

256

In [4]:
len('Hello!')

6

In [6]:
print('Hello, World!')
print('Python speaking!')

Hello, World!
Python speaking!

In [5]:
print('Hello, World!', end='.')
print('Python speaking!')

Hello, World!.Python speaking!

In [7]:
first_name = 'John'
print('Your first name is', first_name, 'Welcome!', sep='-', end='=')

Your first name is-John-Welcome!=

In [2]:
    average_rating = input('Please provide your avg rating: ')
    print(average_rating * 3)

Please provide your avg rating: 5.0
5.05.05.0

In [4]:
a = int(input('First number: '))
b = int(input('Second number: '))
     
a = a % b
b = b % a
     
print(a, b)
    
#Given the following code, what will be the output when the user enters two numbers, first 13 and then 3?

First number: 13
Second number: 3
1 0

In [5]:
13%3

1

In [6]:
3%1

0

In [7]:
1 // 2 * 3

0

In [8]:
1//2

0

In [9]:
# What will happen after the following code is run and the user provides the following: boom!

number = int(input('Please provide a number: '))
print(number)

Please provide a number: boom!

ValueError: invalid literal for int() with base 10: 'boom!'

In [10]:
first_name = 'John'
print(sep=' - ', 'Your first name is', first_name, 'Welcome!')

SyntaxError: positional argument follows keyword argument (117391511.py, line 2)

In [11]:
x = 0
y = 1
a = x ^ y
b = x | y
c = x & y
print(a + b + c)

2

In [12]:
print(18 >> 1)

9