In [1]:
empty_list = []

In [3]:
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
print(top_cities)

['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']

In [5]:
top_cities[0]

'Phoenix'

In [6]:
top_cities[4]

'Phoenix'

In [9]:
top_cities[-5]

'New York City'

In [10]:
top_cities[0:2]

['New York City', 'Los Angeles']

In [11]:
top_cities[2:]

['Chicago', 'Houston', 'Phoenix']

In [12]:
top_cities[:3]

['New York City', 'Los Angeles', 'Chicago']

In [ ]:
top_city = 'New York city'
top_cities = []
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
top_cities[0]

# Deleting list

In [13]:
top_cities = ['New York City', 'Los Angeles','Singapore' , 'Chicago', 'Houston', 'Phoenix']
del top_cities[2]
print(top_cities)

['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']

In [14]:
top_cities[2]

'Chicago'

In [16]:
top_cities =['New York City', 'Los Angeles','Singapore' , 'Chicago', 'Houston', 'Phoenix']
del top_cities[3:]
print(top_cities)

['New York City', 'Los Angeles', 'Singapore']

In [19]:
top_cities =['New York City', 'Los Angeles','Singapore' , 'Chicago', 'Houston', 'Phoenix']
del top_cities[:]
print(top_cities)

[]

# Add list

In [20]:
name = inout('name?')

NameError: name 'inout' is not defined

In [21]:
book_ratings = [7, 9, 5, 6, 8]
book_ratings.append(4)
print(book_ratings)

[7, 9, 5, 6, 8, 4]

In [22]:
book_ratings = [7, 9, 5, 6, 8]
book_ratings.insert(1,10) #add the value 10 at the position 1
print(book_ratings)

[7, 10, 9, 5, 6, 8]

# Iterating lists

In [23]:
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
for city in top_cities:
    print('Current city:', city)

Current city: New York City
Current city: Los Angeles
Current city: Chicago
Current city: Houston
Current city: Phoenix

In [24]:
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
for city_index in range(len(top_cities)):
    print('Current index:', city_index, '| Current city:', top_cities[city_index], )

Current index: 0 | Current city: New York City
Current index: 1 | Current city: Los Angeles
Current index: 2 | Current city: Chicago
Current index: 3 | Current city: Houston
Current index: 4 | Current city: Phoenix

In [25]:
spendings = [32.45, 18.65, 23.45, 78.32, 5.23]
sum = 0.0
for spending in spendings:
    sum += spending
print('Money spent:', sum)

Money spent: 158.1

In [ ]:
Helping with the Budget

John has a hard time keeping his budget. Write a program to help him analyse his spendings. 
You are given a list with John's spendings for each month. Go through the list, and count the number of times...

a. the spendings were low (< 1000.0)
b. the spendings were normal (between 1000.0 and 2500.0 inclusive)
c. the spendings were high (> 2500.0)

Then, print the following to the output:

Numbers of months with low spendings: {}, normal spendings: {}, high spendings: {}. 
            
spendings = [1346.0, 987.50, 1734.40, 2567.0, 3271.45, 2500.0, 2130.0, 2510.30, 2987.34, 3120.50, 4069.78, 1000.0]

In [59]:
spendings = [1346.0, 987.50, 1734.40, 2567.0, 3271.45, 2500.0, 2130.0, 2510.30, 2987.34, 3120.50, 4069.78, 1000.0]

low = 0
normal = 0
high = 0

for money in spendings:
    if money < 1000.0:
        low += 1
    elif money<=2500:
        normal += 1
    elif money  >2500.0:
        high += 1
        
print('Numbers of months with low spendings: ' + str(low) +
      ', normal spendings: ' + str(normal) +
      ', high spendings: ' + str(high) + '.')

Numbers of months with low spendings: 1, normal spendings: 5, high spendings: 6.

In [46]:
spendings = [1346.0, 987.50, 1734.40, 2567.0, 3271.45, 2500.0, 2130.0, 2510.30, 2987.34, 3120.50, 4069.78, 1000.0]
     
low = 0
normal = 0
high = 0
     
for month in spendings:
    if month < 1000.0:
        low += 1
    elif month <= 2500.0:
        normal += 1
    else:
        high += 1
     
print('Numbers of months with low spendings: ' + str(low) + ', normal spendings: ' + str(normal) + ', high spendings: ' + str(high) + '.')

Numbers of months with low spendings: 1, normal spendings: 5, high spendings: 6.

# List change position

In [60]:
first = input('Enter first number: ')
second = input('Enter second number: ')
print('Before swapping:', first, second)
first = second
second = first
print('After swapping:', first, second)

Enter first number: 10
Enter second number: 20
Before swapping: 10 20
After swapping: 20 20

In [61]:
first = input('Enter first number: ')
second = input('Enter second number: ')
print('Before swapping:', first, second)
temporary = first
first = second
second = temporary
print('After swapping:', first, second)

Enter first number: 10
Enter second number: 20
Before swapping: 10 20
After swapping: 20 10

In [62]:
first = input('Enter first number: ')
second = input('Enter second number: ')
print('Before swapping:', first, second)
first, second = second, first
print('After swapping:', first, second)

Enter first number: 10
Enter second number: 20
Before swapping: 10 20
After swapping: 20 10

In [63]:
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
top_cities[0], top_cities[4] = top_cities[4], top_cities[0]
print(top_cities)

['Phoenix', 'Los Angeles', 'Chicago', 'Houston', 'New York City']

In [64]:
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
top_cities.sort()
print(top_cities)

['Chicago', 'Houston', 'Los Angeles', 'New York City', 'Phoenix']

In [65]:
random_numbers = [2, 5, 0, -3, 4]
random_numbers.sort()
print(random_numbers)

[-3, 0, 2, 4, 5]

In [66]:
random_numbers = [2, 5, 0, -3, 4]
random_numbers.sort(reverse=True)
print(random_numbers)

[5, 4, 2, 0, -3]

In [67]:
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']

print(sorted(top_cities))
print(top_cities)

['Chicago', 'Houston', 'Los Angeles', 'New York City', 'Phoenix']
['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']

# Checking Presence

In [2]:
for char in 'happy message':
    print(char)

h
a
p
p
y

m
e
s
s
a
g
e

In [4]:
invited_guests = ['Kate', 'Adam', 'Kerry', 'Joe', 'Anne', 'Marie']
name = input('What is your name? ')
if name in invited_guests:
    print('Welcome!')
else:
    print('You are not invited!')

What is your name? Ale
You are not invited!

# Copying Lists

In [6]:
name_original = 'Jon Snow'
name_new = name_original
name_original = 'Daeryn'
print(name_original,name_new)

Daeryn Jon Snow

In [7]:
list_original = [1,2,3]
list_new = list_original
list_original[0] = -5
print('Original:', list_original, '\nNew', list_new)

Original: [-5, 2, 3]
New [-5, 2, 3]

In [8]:
list_original = [1,2,3]
list_new = list_original[:]
list_original[0] = -5
print('Original:', list_original, '\nNew', list_new)

Original: [-5, 2, 3]
New [1, 2, 3]

In [9]:
list_original = [1,2,3]
list_new = list_original[:2]
list_original[0] = -5
print('Original:', list_original, '\nNew', list_new)

Original: [-5, 2, 3]
New [1, 2]

In [10]:
list_original = [1, 2, 3]
list_new = list_original

In [11]:
list_original = [1, 2, 3]
list_new = list_original[:]

# List Comprehensions

In [12]:
numbers = [1, 2, 3, 4]

In [13]:
numbers = []
for i in range(1, 101):
    numbers.append(i)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [14]:
numbers = [i for i in range(1, 101)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [15]:
numbers = [i for i in range(1, 101) if i % 3 != 0]
print(numbers)

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50, 52, 53, 55, 56, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 73, 74, 76, 77, 79, 80, 82, 83, 85, 86, 88, 89, 91, 92, 94, 95, 97, 98, 100]

# Nested Lists

In [19]:
numbers = [1, 2, 3, 4]

In [17]:
countries = ['UK', 'US', 'Germany']

In [18]:
countries = [1, 'UK', 2, 'US']

In [20]:
cells = [['A1', 'A2', 'A3'],['B1','B2','B3']]

In [21]:
cells[0]

['A1', 'A2', 'A3']

In [22]:
cells[0][0]

'A1'

In [23]:
cells[0][1]

'A2'

In [25]:
cells[1][2]

'B3'

In [26]:
cells = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
for x in cells:
    print('Element:', x)

Element: ['A1', 'A2', 'A3']
Element: ['B1', 'B2', 'B3']

In [27]:
cells = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
for x in cells:
    for y in x:
        print('Element:', y)

Element: A1
Element: A2
Element: A3
Element: B1
Element: B2
Element: B3

In [31]:
table = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
for row in table:
    for cell in row:
        print('Element:', cell)

Element: A1
Element: A2
Element: A3
Element: B1
Element: B2
Element: B3

In [32]:
table = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
for row in table:
    for cell in row:
        print(cell,'',end='')
    print()

A1 A2 A3
B1 B2 B3

In [33]:
#1 2 3 4 5
#1 2 3 4 5
#1 2 3 4 5
#1 2 3 4 5

table = [[i for i in range(1, 6)] for j in range(4)]
print(table)

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

# add multiply lists

In [34]:
list_us = ['New York City', 'Chicago']
list_uk = ['London', 'Bristol']
list_all = list_us + list_uk
print(list_all)

['New York City', 'Chicago', 'London', 'Bristol']

In [35]:
list_numbers = [0, 1] * 10
print(list_numbers)

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

# Further string features

In [36]:
fav_band = 'Green Day'
print(fav_band[6])

D

In [37]:
print(fav_band[:6])

Green

In [38]:
text = 'please capitlise me'
text_cap = text.upper()
print(text_cap)

PLEASE CAPITLISE ME

In [39]:
user_number = input('Please provide a number: ')
if user_number.isnumeric():
    print('Thank you, that\'s a correct number!')
else:
    print('Sorry,', user_number, 'is not a number!')

Please provide a number: 1
Thank you, that's a correct number!

# Tuples: immutable

In [40]:
empty_tuple = ()

In [41]:
one_el_tuple_a = (1,)

In [42]:
one_el_tuple_b = 1,

In [43]:
three_el_tuple = 1,2,3

In [44]:
print(three_el_tuple)

(1, 2, 3)

In [45]:
type(three_el_tuple)

tuple

In [46]:
user_data = ('John', 'American', 1964)

In [47]:
user_data = ('Katya', 'Russian', 1980)

In [48]:
user_data.append('teacher')

AttributeError: 'tuple' object has no attribute 'append'

In [49]:
del user_data[0]

TypeError: 'tuple' object doesn't support item deletion

In [50]:
print(user_data[0])

Katya

# Tuple operations

In [51]:
user_data = ('John', 'American', 1964)
print(len(user_data))

3

In [52]:
user_data = ('John', 'American', 1964)
if 'American' in user_data:
    print('This person comes from the US!')

This person comes from the US!

In [53]:
user_data = ('John', 'American', 1964)
for element in user_data:
    print(element)

John
American
1964

In [54]:
user_data = ('John', 'American', 1964) + ('teacher', 'male')
print(user_data)

('John', 'American', 1964, 'teacher', 'male')

In [55]:
numbers = (0, 1) * 10
print(numbers)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [56]:
male_name = ['Adam', 'Jerry', 'Mark']

In [57]:
berlin_temps = [13.0, 17.5, 12.0]

In [58]:
user_data = ('John', 'American', 1964)

In [59]:
first = 5
second = 7
first, second = second, first

# Tuples lists

In [60]:
city_1 = ('London', 'UK', 8.98)

In [61]:
city_2 = ('Canberra', 'Australia', 0.4)

In [62]:
city_3 = ('Algiers', 'Algeria', 3.9)

In [63]:
capitals = [('London', 'UK', 8.98),('Canberra', 'Australia', 0.4),('Algiers', 'Algeria', 3.9)]

In [64]:
for capital in capitals:
    print('Name:', capital[0], ', Country:', capital[1], ',Population:', capital[2])

Name: London , Country: UK ,Population: 8.98
Name: Canberra , Country: Australia ,Population: 0.4
Name: Algiers , Country: Algeria ,Population: 3.9

In [66]:
user_data = ('John', 'American', 1964, [77.0, 78.2, 77.5])

In [67]:
user_data[3].append(79.6)

In [68]:
print(user_data)

('John', 'American', 1964, [77.0, 78.2, 77.5, 79.6])

In [70]:
All Roads Lead to Rome

You are given a list with various flight connections in Europe.
Each connection is represented as a tuple with the following elements:

(city_from, city_to, time)

For example, the following tuple represents a flight from Amsterdam to Dublin which takes 100 minutes:

('Amsterdam', 'Dublin', 100)

Your task is to go through all the routes in a loop and check how many of them lead to Rome 
(i.e. how many of them have city_to equal to 'Rome'). 
Among the routes to Rome, you should also calculate the average flight time. Print the following the output:

{} connections lead to Rome with an average flight time of {} minutes

Replace {} with the number of connections and the average flight time. 

connections = [
    ('Amsterdam', 'Dublin', 100),
    ('Amsterdam', 'Rome', 140),
    ('Rome', 'Warsaw', 130),
    ('Minsk', 'Prague', 95),
    ('Stockholm', 'Rome', 190),
    ('Copenhagen', 'Paris', 120),
    ('Madrid', 'Rome', 135),
    ('Lisbon', 'Rome', 170),
    ('Dublin', 'Rome', 170),
    ]

SyntaxError: invalid syntax (919325223.py, line 1)

In [96]:
connections = [
    ('Amsterdam', 'Dublin', 100),
    ('Amsterdam', 'Rome', 140),
    ('Rome', 'Warsaw', 130),
    ('Minsk', 'Prague', 95),
    ('Stockholm', 'Rome', 190),
    ('Copenhagen', 'Paris', 120),
    ('Madrid', 'Rome', 135),
    ('Lisbon', 'Rome', 170),
    ('Dublin', 'Rome', 170),
    ]

numbers_connections = 0
sum_flight_time = 0

for con in connections:
    if con[1] == 'Rome':
        numbers_connections += 1
        sum_flight_time += con[2]
if numbers_connections != 0:
    average_flight_time = sum_flight_time/numbers_connections
    print(average_flight_time)
else:
    print("There are no connections to Rome.")
    
print('Average flight time is:',average_flight_time, 'and there are',numbers_connections,'connections')

161.0
Average flight time is: 161.0 and there are 5 connections

In [93]:
connections = [
    ('Amsterdam', 'Dublin', 100),
    ('Amsterdam', 'Rome', 140),
    ('Rome', 'Warsaw', 130),
    ('Minsk', 'Prague', 95),
    ('Stockholm', 'Rome', 190),
    ('Copenhagen', 'Paris', 120),
    ('Madrid', 'Rome', 135),
    ('Lisbon', 'Rome', 170),
    ('Dublin', 'Rome', 170)
    ]
     
counter = 0
sum = 0.0
     
for con in connections:
    if con[1] == 'Rome':
        counter += 1
        sum += con[2]
     
print(counter, 'connections lead to Rome with an average flight time of', sum/counter, 'minutes')

5 connections lead to Rome with an average flight time of 161.0 minutes

# Intro dictionaries

In [97]:
#{} is used for dictionary

emails = {
    'Anne Stahl': 'astahl@gmail.com',
    'Peter Small': 'peters@yandex.com',
    'Mark Steel': 'mark@steel.com'
}

In [101]:
print(emails['Mark Steel'])

mark@steel.com

In [102]:
spanish_animals = {
    'dog': 'el perro',
    'cat': 'el gato',
    'horse': 'el caballo',
    'bird': 'el pájaro'
     }

In [103]:
print(spanish_animals['bird'])

el pájaro

In [104]:
print(spanish_animals['el perro'])

KeyError: 'el perro'

In [106]:
tennis_ranking = {
    1: 'Ashleigh Barty',
    2: 'Naomi Osaka',
    3: 'Simona Halep'
    }

In [107]:
print(tennis_ranking[1])

Ashleigh Barty

In [110]:

city_ratings = {
    'Bangkok': [7, 4, 7, 5],
    'Hanoi': [7, 6, 4, 5],
    'Manila': [6, 6, 4, 4, 5]
    }

In [112]:
print(city_ratings['Bangkok'])

[7, 4, 7, 5]

# Dictionary operations

In [113]:
grades = {}

In [114]:
grades['John'] = 'A-'

In [115]:
grades['Anne'] = 'B'

In [116]:
print(grades)

{'John': 'A-', 'Anne': 'B'}

In [117]:
grades['Anne'] = 'A'

In [118]:
print(grades)

{'John': 'A-', 'Anne': 'A'}

In [120]:
grades.update({'John':'A'})

In [121]:
print(grades)

{'John': 'A', 'Anne': 'A'}

In [122]:
len(grades)

2

In [123]:
if 'John' in grades:
    print('John got:', grades['John'])

John got: A

In [124]:
del grades['John']
print(grades)

{'Anne': 'A'}

In [125]:
grades = {}
grades['John'] = 'A-'
grades['Anne'] = 'B'

In [126]:
for el in grades:
    print(el)

John
Anne

In [127]:
for el in grades.keys():
    print(el)

John
Anne

In [128]:
for el in grades.values():
    print(el)

A-
B

In [129]:
for person, grade in grades.items():
    print(person, 'got', grade)

John got A-
Anne got B

In [ ]:
Interactive Dictionary

Write a program that implements a simple interactive dictionary. Start by prompting the user with the following:

Enter a word in English or EXIT: << put a space at the end of this message

When the user enters EXIT in capital letters, terminate the program with the following:

Bye!

Otherwise, try to find the German equivalent in the dictionary provided in the exercise.

a. if the word is in the dictionary, print: Translation: {} << replace {} with the word from the dictionary
b. if the word is not in the dictionary, print: No match!

You should keep asking the user for new words with the same prompt 
('Enter a word in English or EXIT: ') until the user provides EXIT.

Here's an example of how the program could work with user input shown in the bold:

    Enter a word in English or EXIT: dog
    No match!
    Enter a word in English or EXIT: face
    Translation: Gesicht
    Enter a word in English or EXIT: EXIT
    Bye!

In [139]:
sample_dict = {
    "mouth": "Mund",
    "finger": "Finger",
    "leg": "Bein",
    "hand": "Hand",
    "face": "Gesicht",
    "nose": "Nase"
}


while True:
    word = input('Enter a word in English or EXIT: ')
    if word == "EXIT":
        print("Bye!")
        break
    elif word in sample_dict:
        print(sample_dict[word])
    else:
        print('No match!')

Enter a word in English or EXIT: face
Gesicht

KeyboardInterrupt: Interrupted by user

In [ ]:
    sample_dict = {
        "mouth": "Mund",
        "finger": "Finger",
        "leg": "Bein",
        "hand": "Hand",
        "face": "Gesicht",
        "nose": "Nase"
    }
     
    while True:
        user_input = input('Enter a word in English or EXIT: ')
        if user_input == 'EXIT':
            break
        if user_input in sample_dict:
            print ('Translation:', sample_dict[user_input])
        else:
            print('No match!')
     
    print('Bye!')

In [ ]:
list_a = [1, 2, 3]
list_b = list_a[-2:-1] #
list_c = list_a[-1:-2]

In [143]:
list_a = [1, 2, 3]
list_b = list_a[-2:-1] 
list_c = list_a[-1:-2]
list_c

[]

In [140]:
What is the output of the following code?

temp_list = [1, 2, 3]
for i in range(len(temp_list)):
    temp_list.insert(i, 0)
print(temp_list)

NameError: name 'list_b' is not defined