# Intro fuctions

In [4]:
def greet():
    print('Hello!')

greet()

Hello!

# Function parameters

In [13]:
def get_average(input_numbers):
    sum = 0.0
    for number in input_numbers:
        sum += number
    average = sum/len(input_numbers)
    print(average)
    
get_average([5.0,3.5,7.8,9.9,10.0])

7.24

In [14]:
def print_letter_count(text,letter):
    counter = 0
    for char in text:
        if char == letter:
            counter += 1
    print('Number of', letter, ' is', counter)

In [16]:
print_letter_count('Welcome', 'e')

Number of a  is 2

In [17]:
print_letter_count('People say nothing is impossible, but I do nothing every day.', 'a')

Number of a  is 2

In [18]:
print_letter_count('e', 'Welcome')

Number of Welcome  is 0

In [19]:
print_letter_count(text='Welcome', letter='e')

Number of e  is 2

# Default parameter values

In [20]:
print('Hello', 'How are you?', end='.', sep='-')

Hello-How are you?.

In [21]:
def print_letter_count(text='This is the default string to search', letter='a'):
    counter = 0
    for char in text:
        if char == letter:
            counter += 1
    print('Number of', letter, 'is', counter)

In [22]:
print_letter_count('How many letters a are here?')

Number of a is 3

In [25]:
print_letter_count('Search here', letter='a')

Number of a is 1

# Name Scopes

In [29]:
def show_truth():
    global mysterious_var
    mysterious_var = 'New Surprise'
    print(mysterious_var)
    
mysterious_var = 'Surprise'
print(mysterious_var)
show_truth()
print(mysterious_var)

Surprise
New Surprise
New Surprise

In [30]:
def show_truth():
    mysterious_var.append('New Surprise!')
    print(mysterious_var)

mysterious_var = ['Surprise!']
print(mysterious_var)
show_truth()
print(mysterious_var)

['Surprise!']
['Surprise!', 'New Surprise!']
['Surprise!', 'New Surprise!']

# The None value

In [31]:
x = None

if x:
    print("None is True")
elif x is False:
    print ("None is False")
else:
    print("None is not True, or False, None is just None")

None is not True, or False, None is just None

In [32]:
x = None
if x is None:
    print('yes')
if x == None:
    print('it does')

yes
it does

In [33]:
def greet():
    print('hello!')
    
x = greet()
print(x)

hello!
None

# Return Keyword

In [34]:
def get_average(input_numbers):
    sum = 0.0
    for number in input_numbers:
        sum += number
    average = sum / len(input_numbers)
    return average

In [35]:
print('The average is:', get_average([5.0, 3.5, 7.8, 9.9, 10.0]))

The average is: 7.24

In [36]:
average = get_average([5.0, 3.5, 7.8, 9.9, 10.0])
if average > 5.0:
    print('The average is too high!')

The average is too high!

In [37]:
def get_average(input_numbers):
    sum = 0.0
    for number in input_numbers:
        sum += number
    average = sum / len(input_numbers)
    return average #function is terminated before it can reach the print
    print('Show me!')

get_average([2])

2.0

In [38]:
def is_first_last_equal(number_list):
    if len(number_list) == 0:
        return
    if (number_list[0] == number_list[-1]):
        return True
    else:
        return False

In [39]:
print(is_first_last_equal([10, 20, 30, 40, 10]))

True

In [40]:
print(is_first_last_equal([10, 20, 30, 40, 50]))

False

In [41]:
print(is_first_last_equal([]))

None

In [ ]:
Get Rid of Duplicates!

Write a function named unique. The function should accept one parameter, which is a list with any number of elements inside.
The default value for the parameter should be an empty list ([]).

The function should return a new list with all duplicate elements removed. 
The function should preserve the original order of elements.

Example 1: for unique([1, 1, 4, 5, 1]), the output should be [1, 4, 5]
Example 2: for unique(['Mark', 'Mark', 'John', 'Anne']), the output should be  ['Mark', 'John', 'Anne']

In [4]:
def unique(lst=[]):
    unique_list = []
    for item in lst:
        if item not in unique_list:
            unique_list.append(item)
    return unique_list
    
unique([1, 1, 4, 5, 1])
unique(['Mark', 'Mark', 'John', 'Anne'])

['Mark', 'John', 'Anne']

# Recursion

In [ ]:
# factorial
# 3! = 1 * 2 * 3 = 6
# 5% = 1 * 2 * 3* 4 * 5 = 120

In [7]:
# iterative
def get_factorial(number):
    factorial = 1
    for x in range(1, number + 1):
        factorial *= x
    return factorial

In [8]:
print(get_factorial(6))

720

In [9]:
def get_factorial_recursive(number):
    if number <= 1:
        return 1
    return number * get_factorial_recursive(number - 1)

In [10]:
get_factorial_recursive(6)

720

# Generators

In [11]:
# need to define things first
def get_number():
    for i in range(1, 4):
        yield i

In [12]:
print(get_number())

<generator object get_number at 0x000001203666FE00>

In [13]:
generator = get_number()
print(next(generator))
print(next(generator))
print(next(generator))
print(next(generator))

1
2
3

StopIteration:

In [14]:
for x in get_number():
    print(x)

1
2
3

In [15]:
numbers = list(get_number())
print(numbers)

[1, 2, 3]

# Exceptions

In [19]:
try:
    value = int(input('Enter an integer: '))
    print('The inverse of', value, 'is', 1/value)
except:
    print('You did not provide a number, so I will not calculate the inverse')
    value = int(input('Enter an integer: '))
    print('The inverse of', value, 'is', 1/value)

Enter an integer: s
You did not provide a number, so I will not calculate the inverse
Enter an integer: 5
The inverse of 5 is 0.2

In [20]:
value = int(input('Enter an integer: '))
print('The inverse of', value, 'is', 1/value)

Enter an integer: a

ValueError: invalid literal for int() with base 10: 'a'

In [21]:
value = int(input('Enter an integer: '))
print('The inverse of', value, 'is', 1/value)

Enter an integer: 0

ZeroDivisionError: division by zero

In [22]:
try:
    value = int(input('Enter an integer: '))
    print('The inverse of', value, 'is', 1/value)
except ValueError:
    print('You did not provide a number, so I will not calculate the inverse')
except ZeroDivisionError:
    print('You provided 0 and division by 0 is not possible, sorry')
except:
    print('Something strange happened here, sorry')

Enter an integer: 0
You provided 0 and division by 0 is not possible, sorry

# Exception Hierarchy

In [25]:
import sys

user_name = input('What is your name? ')
if user_name == '':
  print('Empty name? I cannot work with that. I am closing the program. Bye!')
  sys.exit()
print('Hello,', user_name)
print('Let us get started...')

What is your name?
Empty name? I cannot work with that. I am closing the program. Bye!

SystemExit:

In [26]:
programming_languages = ["Java", "Python", "C++"]
print(programming_languages[10])

IndexError: list index out of range

In [27]:
ages = {'Jim': 30, 'Pam': 28, 'Kevin': 33}
ages['Michael']

KeyError: 'Michael'

In [28]:
age = input('What is your age? ')
print('In 10 years, you will be', age + 10)

What is your age? 10

TypeError: can only concatenate str (not "int") to str

In [29]:
age = int(input('What is your age? '))

What is your age? a

ValueError: invalid literal for int() with base 10: 'a'

# Exception propagation

In [30]:
def get_day(user_info):
  day = int(input('What is the day of your bday? '))
  user_info.append(day)

def get_month(user_info):
  month = int(input('What is the month (1-12) of your bday? '))
  user_info.append(month)

def get_year(user_info):
  year = int(input('What is the year of your bday? '))
  user_info.append(year)

def get_user_bday(user_info):
    try:
      get_day(user_info)
      get_month(user_info)
      get_year(user_info)
      print('So your bday is', user_info)
    except ValueError:
      print('You entered incorrect data, bye!')

print('Hi, I will collect some info about your bday!')
user_info = []
get_user_bday(user_info)

Hi, I will collect some info about your bday!
What is the day of your bday? 1
What is the month (1-12) of your bday? 5
What is the year of your bday? 1966
So your bday is [1, 5, 1966]

# Assertions

In [31]:
def calculate_inverse(number):
    assert (number!=0), 'Got 0 as number!'
    return 1/number

calculate_inverse(0)

AssertionError: Got 0 as number!